
.FacultyList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;
    li {

    }
    button {
        background-color: $tuxedo;
        color: $stratus;
        padding: 10px 24px;
        cursor: pointer;
        width: 100%;
        display: block;
        &:hover {
            background-color: $sunshine;
            color: $tuxedo;
        }
    }
}

.PageControls {
    background-color: $bluebonnet;
    color: $tuxedo;
    width: 300px;
    button {
        width: 100px;
    }
}

.Alert {
    background-color: $rocket;
}