//
// HCC Branding
//

// Primary
$sunshine:    #FFB819;
$stratus:     #ffffff;
$tuxedo:      #000000;
$iron:        #55565A;
$battleship:  #8A8A8D;

// Secondary
$bluebonnet:    #0075C9;
$houston:       #0093C9;
$memorial:      #009D4E;
$peridot:       #6CC04A;
$rocket:        #D9272E;
$monarch:       #EF7622;
$mauveine:      #4A0D66;
$azalea:        #E56385;