

.sidebar {
  grid-area: nav;
  padding: 5px;
  ul {
    margin-left: 0;
    padding: 2px;
    li.heading {
      list-style: none;
      display: block;
      background-color: $iron;
      text-transform: uppercase;
      font-family: 'GOTHAM BLACK';
      text-align: center;
      padding: 2px;
    }
  }

  button {
    background-color: $houston;
    display: block;
    width: 100%;
  }

}